@media (max-width: 1440px) {
  .job-table-width {
    width: 700px !important;
  }
}

.clk-remove {
  color: #d91515;
  user-select: none;
  cursor: pointer;
}

.clk-remove:hover {
  text-decoration: underline;
}

.title-info {
  cursor: pointer;
  user-select: none;
  color: rgb(9, 114, 211);
}

.title-info:hover {
  color: #033160;
}
