.account-back-btn {
  margin-top: 25px;
  text-align: right;
}

.pointer-icon {
  display: inline-block;
  font-weight: 700;
  color: #414D5C;
  cursor: pointer;
}

.pointer-icon:hover {
  text-decoration: underline;
}